body{
    font-family: 'Special Elite', cursive;
    background: rgb(76, 83, 82);
}

.header_div{
    background:white;
    color:rgb(0, 0, 0);
}

.header_div p{
   font-family: 'Special Elite', cursive;
   color:grey;
   letter-spacing: 2px;
   font-size: 12px;
   font-weight: bold;
}

.main_div button{
    font-family: 'Special Elite', cursive;
    margin-top: 50px;
    width: 130px;
    letter-spacing: 3px;
    font-weight: bolder;
}

.copy_right_footer{
position: fixed;
color: rgb(38, 0, 255);
bottom: 0;
width: 100%;
font-size: 18px;
background-color: white;
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px rgb(255, 0, 0);
}